.kanban{
    margin-left: 0px!important;
    min-height: 800px!important;
    height: 100%!important;
}

.content-wrapper.kanban .content {
    height: 550px!important;
    overflow-x: auto;
    overflow-y: hidden;
}

.content-wrapper.kanban .card.card-row:first-child
 {
    margin-left: 50px!important;
}

.content-wrapper.kanban .card.card-row {
    width: 500px!important;
    display: inline-block!important;
    margin: 1px 3rem!important;
}

.card-tools .btn-tool{
    font-size: 18px!important;
}

.card-footer .btn-tool{
    font-size: 17px!important;
}